@font-face {
    font-family: myFirstFont;
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: myFirstFont;
}

body{
    background-color: #f5d04e;
    display: flex;
    justify-content: center;
}

.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

#main{
    margin-top: 70px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    width: 350px;
    height: 500px;
    box-shadow: 7px 7px;
}

#article{
    margin: 20px 0px 0px 19px ;
    width: 310px;
    border: solid 0px transparent;
    border-radius: 20px;
}

#learn{
    text-align: center;
    margin: 15px 0px 0px 20px;
    width: 100px;
    height: 30px;
    background-color: #f3d050;
    border: solid 0px transparent;
    border-radius: 5px;
}

#learnP{
    padding-top: 5px;
    font-weight: bold;
}

#date{
    margin: 15px 0px 0px 20px;
    font-weight: 550;
}

#HC{
    margin: 15px 0px 0px 20px;
}

#HC a{
    text-decoration: none;
    color: black;
}

#HC a:active{
    color: #f3d050;
}

#lang{
    margin: 15px 0px 0px 20px;
    color: rgb(167, 158, 158);
    font-size: 14.5px;
}

#avatar{
    margin: 18px 0px 0px 20px;
    height: 35px;
    width: 35px;
}

#name{
    margin: 25px 0px 0px 20px;
}

#avaName{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
}

.attribution{
    margin-top: 600px;
    position: absolute;
}