#button{
    margin: 200px;
    height: 20px;
    width: 50px;
    background-color: bisque;
    border: 2px solid red;
    position: absolute;
}

#button:active{
    background-color: aqua;
    transform: translate(20px);
    transition-duration: 1s;
}

#aroundTheWorld{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 0px;
}

@keyframes world {
    0%  {
        left: 0px; top: 0px;
    }
    25%  {
        left: 0px; top: 525px;
    }
    50%  {
        left: 1200px; top: 525px;
    }
    75%  {
        left: 1200px; top: 0px;
    }
    100% {
        left: 0px; top: 0px;
    }
}
  

#aroundTheWorld{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation: world 5s infinite;

}

.button {
    cursor: pointer;
    margin-top: 200px;
    height: 20px;
    width: 100px;
    background-color: bisque;
    border: 2px solid red;
}
 
.colorDiv {
    height: 100px;
    width: 100px;
    background-color: black;
    transition: background-color 0.3s ease;
}

 
#button1:active + #div1 {
    background-color: black;
}

  
#button2:active + #div2 {
    background-color: black;
}

 
#button3:active + #div3 {
    background-color: black;
}