#N1{
    height: 500px;
    background-color: blueviolet;
}

#N2{
    height: 400px;
    background-color: rgb(111, 69, 150);
}

#N3{
    height: 300px;
    background-color: rgb(26, 22, 31);
}

#N4{
    height: 200px;
    background-color: rgb(38, 21, 53);
}

#N5{
    height: 100px;
    background-color: rgb(166, 156, 177);
}