body{
    display: flex;
    flex-direction: row;
}

div{
    height: 450px;
    width: 450px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

div img{
    height: 450px;
    width: 450px;
    position: absolute;
    z-index: 0;
}

div p{
    z-index: 1;
}
div h2{
    z-index: 1;
}
div button{
    z-index: 1;
}