*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
}

#Dparent {
    margin-top: 100px;
    display: grid;
    place-items: center;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 60px;
    margin-right: 250px;
}

#N1, #N2, #N3 {
    height: 400px;
    width: 200px;
    background-color: black;
    display: grid;
    place-items: center;
    color: white;
    font-size: xx-large;
}

#N1 {
    background-color: blueviolet;
    grid-column: 1 / 4;
    grid-row: 1;
    opacity: 0.5;
}

#N2 {
    background-color: brown;
    grid-column: 3 / 4;
    grid-row: 1;
}

#N3 {
    grid-column: 4 / 4;
    grid-row: 1;
    opacity: 0.5;
}

#BN1, #BN2, #BN3 {
    margin: 30px 20px;
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
}
